<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Index Page</h1>
    <h2>{{temp_var}}</h2>
    <h2>{{some_l[::2]}}</h2>
    <h2>{{some_d.get('name')}}</h2>
    <!-- <img src='../static/images/index.jpg' alt=''> -->
    <ul>
        {% for item in some_l %}
        <li>{{item}}</li>
        {% endfor %}
    </ul>
    <p>
        {% if 2 in some_l %}
        We got it!!!
        {% else %}
        Not here...
        {% endif %}
    </p>
</body>

</html>