{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1>Welcome to sign up form</h1>
    <p>Please give me all your details:</p>
    <form action="{{ url_for('thank_you') }}">
        <label for="first">Your First Name:</label>
        <input type="text" name="first" id="first" placeholder="First Name">
        <label for="last">Your Last Name:</label>
        <input type="text" name="last" id="last" placeholder="Last Name">
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock content %}